
{{#foreach posts columns=3}}
<div class="list__item">
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
        <h2 class="archive__item-title" itemprop="headline">
            <a href="{{url}}" rel="permalink">
                {{title}}
            </a>
        </h2>
        <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i>
            {{reading_time}}
        </p>
        <p class="archive__item-excerpt" itemprop="description">{{excerpt word="25"}}</p>
    </article>
</div>
{{/foreach}}

{{pagination}}